<div class="footer">
        <div class="row">
            <div class="col-8 contact">
                <h3>Contact us</h3>
                <ul class="medias">
                    <li>Facebook</li>
                    <li>Email</li>
                    <li>Phone</li>
                </ul>
            </div>
            <!-- end col-8 contact -->
            <div class="col-4 quote">
                <q>Good friend, good book, a sleepy conscience, that is an ideal life - Mark Twain</q>
            </div>
            <!-- end col-4 quote -->
        </div>
    </div>