<div class="header">
        <a href="../home-view-index.html"><h1> A book-reviewing blog </h1> </a>
        <div class="navbar">
            <ul>
                <li><a href="../home-view-index.html">Home</a></li>
                <li><a href="../about-view.html">About</a></li>
                <li><a href="../log-in-view-index.html">Log in</a></li>
                <li><a href="../sign-up-view-index.html">Sign up</a></li>
                <li><a href="../compose-post-index.html"><button>Compose a post</button></a></li>
            </ul>
        </div>
        <!-- end navbar -->
    </div>
    <!-- end header -->