<!DOCTYPE html>
<head>
    <script src="../../scripts/categs-import.js"></script>
    <script src="../../scripts/tags-import.js"></script>
    <script src="../../scripts//archives-time-import.js"></script>
</head>
<body>
    <div class="col-4 side-menu">
        <div class="categs">
            <div class="menu-head">
                <h3>Category</h3>
            </div>
        </div>
        <!-- end categ -->
        <div class="archives">
            <div class="menu-head">
                <h3>Archive</h3>
            </div>
        </div>
        <!-- end archive -->
        <div class="tags">
            <div class="menu-head">
                <h3>Tags</h3>
            </div>
        </div>
        <!-- end tags -->
    </div>
    <!-- end col-4 side-menu -->
</body>
</html>