<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/stylesheets/main.css" />
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <% if(isAuthenticated){%>
        <% include partials/header %>
    <% } else{%>
        <% include partials/header-logged-in %>
    <% } %>
    <div class="body">
        <h2>About this blog</h2>
        <p>Ullamco enim non incididunt fugiat. Est non reprehenderit minim irure reprehenderit adipisicing do excepteur nostrud do ut fugiat cillum. Lorem anim ea esse pariatur consectetur pariatur magna sint dolor eiusmod sunt labore cupidatat eu. Sit nulla veniam laborum in ipsum aliqua elit enim aliquip commodo aute irure. Ipsum proident est reprehenderit amet. Veniam laboris exercitation dolore ullamco id sit. Ad nisi exercitation do elit in anim est Lorem ullamco commodo ullamco anim amet id.</p>
    </div>
    <% include partials/footer %>
</body>
</html>