<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../public/stylesheets/log-in-main.css" />
    <!-- <script src="main.js"></script> -->
    <script src="../scripts/log-in.js"></script> 
</head>
<body>
    <% if(isAuthenticated){%>
        <% include partials/header %>
    <% } else{%>
        <% include partials/header %>
    <% } %>
    <div class="body">
        <div class="row"> 
            <div class="col-5 log-in">
                <h2>Log in</h2>
                <form class="log-in-form">
                    <label for="username">Username</label>
                    <input type="text" placeholder="Username" id="username" name="username">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Password" id="password" name="password">
                    <input id="logIn" type="submit" value="Log in">
                </form>
            </div>
            <!-- end col-5 log-in -->
            <div class="col-5 sign-up-dir">
                <p>Don't have an account? <a href="./sign-up-view-index.html"><button> Sign in!</button></a></p>
            </div>
            <!-- end col-5 sign-up-dir -->
        </div>
    </div>
    <!-- end body -->
    <% include partials/footer %>
</body>
</html>