<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Post's title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../public/stylesheets/post-main.css" />
    <!-- <script src="../scripts/post-comment-modify-option.js"></script> -->
    <script src="../scripts/post-load.js"></script>
</head>
<body>
    <div class="header">
        <h1>A book-review blog</h1>
        <div class="navbar">
            <ul>
                <li><a href="../home-view-index.html">Home</a></li>
                <li><a href="../about-view.html">About</a></li>
                <li><a href="../log-in-view-index.html">Log in</a></li>
                <li><a href="../sign-up-view-index.html">Sign up</a></li>
                <li><a href="../compose-post-index.html"><button>Compose a post</button></a></li>
            </ul>
        </div>
        <!-- end navbar -->
    </div>
    <!-- end header -->
    <div class="body">
        <div class="row">
            <div class="col-8 posts">
                <div class="post">
                    <div class="modifyMenu">
                        <a href="#"><span><img class="menuSelect" id="menuSelectOnPost" src="../public/option.svg" height="15" width="15"></span></a>
                        <ul class="menuOptions" id="menuOptionsOnPost" style="display:none">
                            <li><a class="editOption" id="editOptionOnPost">Edit</a></li>
                            <li><a href="#deleteOptionOnPost" class="deleteOption" id="deleteOptionOnPost" >Delete</a></li>
                        </ul>
                    </div>
                    <!-- end modifyOption -->
                </div>
                <!-- end post -->
            </div>
            <!-- end col-8 posts -->
            <div class="col-4 side-menu">
                <div class="categs">
                    <div class="menu-head">
                        <h3>Category</h3>
                    </div>
                </div>
                <!-- end categ -->
                <div class="archive">
                    <div class="menu-head">
                        <h3>Archive</h3>
                    </div>
                </div>
                <!-- end archive -->
                <div class="tags">
                    <div class="menu-head">
                        <h3>Tags</h3>
                    </div>
                </div>
                <!-- end tags -->
            </div>
            <!-- end col-4 side-menu -->
        </div>
        <div class="commentSection">
            <h3>Comment</h3>
            <textarea placeholder="Enter your comment" rows="5" cols="100" id="commentContent"></textarea>
            <input type="submit" id="commentSubmit" value="Send">
            <div class="comments">
                <div class="comment">
                    <div class="modifyMenu">
                        <a href="#menuOptionsOnCmt"><span><img class="menuSelect" id="menuSelectOnCmt"src="../public/option.svg" height="15" width="15"></span></a>
                        <ul class="menuOptions" id="menuOptionsOnCmt" style="display:none">
                            <li><a class="editOption" id="editOptionOnCmt">Edit</a></li>
                            <li><a href="#deleteOptionOnCmt" class="deleteOption" id="deleteOptionOnCmt">Delete</a></li>
                        </ul>
                    </div>
                </div>
                <!-- end comment -->
            </div>
            <!-- end comments -->
        </div>
        <!-- end comment-section -->
    </div>
    <!-- end body -->
    <footer>
        <div class="footer">
            <div class="row">
                <div class="col-8 contact">
                    <h3>Contact us</h3>
                    <ul class="medias">
                        <li>Facebook</li>
                        <li>Email</li>
                        <li>Phone</li>
                    </ul>
                </div>
                <!-- end col-8 contact -->
                <div class="col-4 quote">
                    <q>Good friend, good book, a sleepy conscience, that is an ideal life - Mark Twain</q>
                </div>
                <!-- end col-4 quote -->
            </div>
        </div>
    </footer>
</body>

</html>