<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Post's title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../public/stylesheets/post-main.css" />
    <script src="../scripts/post-comment-modify-option.js"></script>
    // <!-- <script type="module"  src="../scripts/post-load.js"></script> -->
</head>
<body>
<div class="header">
    <h1>A book-review blog</h1>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="./about-view.html">About</a></li>
            <li><a href="./log-in-view-index.html">Log in</a></li>
            <li><a href="./sign-up-view-index.html">Sign up</a></li>
            <li><a href="./compose-post-index.html"><button>Compose a post</button></a></li>
        </ul>
    </div>
    <!-- end navbar -->
</div>
<!-- end header -->
    <div class="body">
        <div class="row">
            <div class="col-8 posts">
                <div class="post">
                    <div class="modifyMenu">
                        <a href="#"><span><img class="menuSelect" id="menuSelectOnPost" src="../public/option.svg" height="15" width="15"></span></a>
                        <ul id="menuOptionsOnPost" style="display:none">
                            <li><a class="editOption" id="editOptionOnPost">Edit</a></li>
                            <li><a href="#deleteOptionOnPost" class="deleteOption" id="deleteOptionOnPost" >Delete</a></li>
                        </ul>
                    </div>
                    <!-- end modifyOption -->
                    <%- body %>
                </div>
                <!-- end post -->
            </div>
            <!-- end col-8 posts -->
            <div class="col-4 side-menu">
                <div class="categs">
                    <div class="menu-head">
                        <h3>Category</h3>
                    </div>
                </div>
                <!-- end categ -->
                <div class="archive">
                    <div class="menu-head">
                        <h3>Archive</h3>
                    </div>
                </div>
                <!-- end archive -->
                <div class="tags">
                    <div class="menu-head">
                        <h3>Tags</h3>
                    </div>
                </div>
                <!-- end tags -->
            </div>
            <!-- end col-4 side-menu -->
        </div>
        <div class="commentSection">
            <h3>Comment</h3>
            <form class="commentForm">
                <textarea placeholder="Enter your comment" rows="5" cols="100"></textarea>
                <input type="submit" value="Send">
            </form>
            <div class="comments">
                <div class="comment">
                    <div class="modifyMenu">
                        <a href="#"><span><img class="menuSelect" id="menuSelectOnCmt"src="../public/option.svg" height="15" width="15"></span></a>
                        <ul id="menuOptionsOnCmt" style="display:none">
                            <li><a class="editOption" id="editOptionOnCmt">Edit</a></li>
                            <li><a href="#deleteOptionOnCmt" class="deleteOption" id="deleteOptionOnCmt">Delete</a></li>
                        </ul>
                    </div>
                    <h4>Username</h4>
                    <p class="comment-content">Ipsum Lorem Lorem aliquip consectetur nisi magna ex duis anim nisi adipisicing nisi occaecat minim. Minim ad exercitation labore incididunt amet adipisicing reprehenderit cupidatat adipisicing fugiat cillum laboris. Cupidatat reprehenderit officia mollit enim aute ut exercitation. Nulla do proident cupidatat mollit eu minim sit duis minim dolor dolor id et enim. Laborum elit Lorem dolor ea. Lorem sunt eu amet nisi elit ad irure nulla Lorem elit velit.</p>
                    <br></br>
                </div>
                <!-- end comment -->
            </div>
            <!-- end comments -->
        </div>
        <!-- end comment-section -->
    </div>
    <!-- end body -->
</body>
</html>