<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../public/stylesheets/sign-up-main.css" />
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <% if(isAuthenticated){%>
        <% include partials/header %>
    <% } else{%>
        <% include partials/header %>
    <% } %>
    <div class="body">
        <h2>Sign up</h2>
        <form class="sign-up-form">
            <label for="username">Username</label>
            <input type="text" placeholder="Username" id="username">
            <label for="password">Password</label>
            <input type="text" placeholder="Password" id="password">
            <label for="password-re">Enter the password again</label>
            <input type="text" placeholder="Enter the password again" id="password-re">
            <label for="email">Email</label>
            <input type="text" placeholder="Email" id="email">
            <input type="submit" value="Sign up">
        </form>
    </div>
    <!-- end body -->
    <% include partials/footer %>
</body>
</html>