body
{
    margin-top: 0;
    background-color: #e6f9ff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.row::after
{
    clear: both;
    content: "";
    display: table;
}
/*---- Header ----*/
.header
{
    margin-top: 0;
    background-color: #004d66;
    color: white;
}
.header h1
{
    margin-top: 0;
    text-align: center;
}
/*-- Navbar --*/
.navbar
{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    background: white;
    color: black;
}
.navbar li
{
    list-style-type: none;
    display: inline;
}
.navbar li a
{
    padding: 5px 3px;
    color: black;
    text-decoration: none;
}
.navbar li a:hover
{
    background: #004d66;
    color: white;
}
.navbar button
{
    float: right;
}
/*---- Body ----*/
.body
{
    width: 80%;
    margin: 0 10%;
}
/*-- Side-menu in the body --*/
.menu-head
{
    background-color: #004d66;
    color: white;
}
.side-menu li
{
    list-style-type: none;
}
/*----- Footer ----*/
.footer
{
    clear: both;
    background: #004d66;
    color: white;
    margin: 3px;
    padding: 1% 10%;
}
.contact li
{
    list-style-type: none;
}
.contact h3
{
    margin-top: 0;
}
.footer .contact
{
    border-right: 2px solid white;
}
/*---- Input type ----- */
input[type=text], textarea
{
    display: block;
    margin-bottom: 5px;
}
input[type=submit], input[type=button]
{
    margin-right: 3px;
}
/*---- Columns ----*/
.col-8
{
    float: left;
    width: 57%;
    padding: 3%;
    box-sizing: border-box;
}
.col-4
{
    float: right;
    width: 37%;
    padding: 3%;
    box-sizing: border-box;
}
.col-5
{
    float: left;
    width: 40%;
}
